body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #218f00;
    color: #fff;
    padding: 10px;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

h2 {
    color: #218f00;
    font-size: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

select {
    height: 40px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #218f00;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
